<h2><%= @house.name %></h2>
<%= form_for([@house, @house.characters.build]) do |character_form| %>
Name: <%= character_form.text_field :name %>
Title: <%= character_form.text_field :title %>
<%= character_form.button %>

<% end %>
